@import url('https://fonts.googleapis.com/css2?family=Alan+Sans:wght@300..900&family=Bitcount+Single+Ink:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=SUSE+Mono:ital,wght@0,100..800;1,100..800&display=swap');

.background {
  background-image: url("/images/fundo_sobreMim.png");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.profileImage {
  border-radius: 50%;
  margin-bottom: 1.5rem;
  transition: transform 0.2s, box-shadow 0.2s;
  width: 120px;
  height: 120px;
  object-fit: cover;
  margin: 0;
}

.profileImage:hover {
  transition: translateY(-8px) scale(1.05);
  box-shadow: 0 12px 32px rgb(97, 14, 11);
}

.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 4rem 0;
  max-width: 50rem;
  border: rgb(97, 14, 11) solid;
  border-radius: 2rem;
  padding: 2.5rem 2rem;
  gap: 2.5rem;
}

.information {
  font-family: "SUSE Mono", monospace;
  color: white;
  display: flex;
  flex-direction: column;
}

.title {
  font-family: "SUSE Mono", monospace;
  color: rgb(97, 14, 11);
  font-size: 2rem;
  margin-bottom: 1rem;
}